p {
    font-family: Arial, Serif;
    letter-spacing: 2px;
    color: darkgreen;

}

/* visited link */
a:visited {
    color: rebeccapurple;
}

/* mouse over link */
a:hover {
    color: mediumvioletred;
}

/* max width of 90% */
body {
    max-width: 90%;
    margin: auto;
    font-size: 100%;

}

blockquote {
    max-width: 50%;
    margin: auto;
    font-size: 160%;
}