p {
    font-family: Arial, Serif, serif;
    letter-spacing: 2px;
    color: darkgreen;

}

/* visited link */
a:visited {
    color: rebeccapurple;
}

/* mouse over link */
a:hover {
    color: mediumvioletred;
}

/* max width of 90% */
body {
    max-width: 90%;
    margin: auto;
    font-size: 100%;
    background: -webkit-linear-gradient(44deg, rgb(22, 155, 237), rgb(20, 85, 87));
    background: linear-gradient(44deg, rgb(22, 155, 237), rgb(20, 85, 87));
    background-image: url("grey_colored_sand__66647.1454610827.1280.850.jpg");
    background-position: bottom right;
    background-size: cover;


}

blockquote {
    max-width: 50%;
    margin: auto;
    font-size: 160%;
    background-color: #eeeeee;
    padding-left: 3px;
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 80px;;

}